<div class="container">
  <div class="topo">
    <img
      src="{{ profile ? profile : '../../assets/ProfileAvatar.svg' }}"
      alt="imagem de perfil"
    />
    <h1>{{userName}} <a routerLink="/edit-profile"><i class="bx bx-pencil"></i></a></h1>
  </div>
  <div class="galery">
    <h3>Suas colaboraçoes</h3>
    <div class="imgs">
      <div
        *ngFor="let post in posts"
        class="minis"
      >
        <img src="{{post.image.id}}" alt="Miniatura da publicação" />
      </div>
    </div>
  </div>
</div>
