<ion-card>
  <ion-header>
    <div class="top">
      <ion-button fill="" (click)="dismiss()">
        <ion-icon name="close-outline" style="color: #1e232c"></ion-icon>
      </ion-button>
      <p>Visualizar</p>
      <ion-button fill="" (click)="stopCrop()">
        <ion-icon name="checkmark-outline" style="color: #1e232c"></ion-icon>
      </ion-button>
    </div>
  </ion-header>
  <ion-card-content>
    <ion-button (click)="takePicture()" expand="full" *ngIf="!myImage"
    >Selecione uma imagem</ion-button
  >

    <image-cropper
    #cropper
      [imageBase64]="myImage"
      [maintainAspectRatio]="true"
      [hideResizeSquares]="isMobile"
      [aspectRatio]="1 / 1"
      format="png"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

  </ion-card-content>
</ion-card>

<dialog #successDialog class="info-dialog success-dialog">
  <form method="dialog">
    <div class="dialog-content">
    <p>Foto alterada</p>
  </div>
  </form>
</dialog>
<dialog #errorDialog class="info-dialog success-dialog">
  <form method="dialog">
    <div class="dialog-content">
    <p>Falha ao alterar imagem</p>
    <button type="submit" autofocus>
      <ion-button fill="" (click)="errorDialog.close()">
        <ion-icon name="checkmark-outline" style="color: #1e232c"></ion-icon>
      </ion-button>
    </button>
  </div>
  </form>
</dialog>


<!-- (imageCropped)="suaFuncaoDeManipulacao($event)" -->


<!--<img [src]="croppedImage" />-->